[package]
name = "test-common"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
starknet-rust-providers = { path = "../../starknet-rust-providers" }
url = "2.3.1"

[lints]
workspace = true
